.pagina-h {
  display: none;
}

.pagina-v {
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

.navegacao {
  background-color: #9E3DC7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 34vh;
  height: 8vh;
  background-image: url('../img/logoBranca.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.conteudo {
  background-image: url('../img/fundoIndex.png');
  background-repeat: no-repeat;
  background-size: 80vw;
  background-position: right bottom;
}

.texto {
  margin-left: 9vw;
  margin-top: 9.5vh;
  font-size: 5.25vw;
  color: #989898;
}

.destaque {
  color: #9E3DC7;
  font-size: 7vw;
}

.entrar-bloco a:link, 
.entrar-bloco a:visited, 
.entrar-bloco a:hover, 
.entrar-bloco a:active {
  text-decoration: none;
  color: #9E3DC7;
}

.entrar-bloco {
  margin-left: 9vw;
  margin-top: 50px;
}

.entrar-botao {
  font-size: 4.5vw;
  border: 0.4vw solid #9E3DC7;
  padding: 0.5vh 50px;
  border-radius: 5px;
}


@media (max-width: 800px) {
  .entrar-botao {
    font-size: 6vw;
    border: 0.6vw solid #9E3DC7;
    padding: 1vh 100px;
    border-radius: 5px;
  }
}